.MediaCardContainer{
    width: 400px;
    margin: auto;
}
.MediaCardImage{
    height: 200px !important;
    max-width: 340px;
}
.MediaCardDescription{
    height: 50px;
    overflow-wrap: break-word;
}